/*DESKTOP */

body {
  width:860px;
  margin:0 auto;
  padding:50px;
  font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  color:#727272;
  
}

#profile_photo {
  width:30%;
  float:right;
  position:relative;
  border-radius: 20px;
}

.body_text {
  width:61%;
  float:left;
  position:relative;
  padding: 1%;
}

h1, h2, h3, h4, h5, h6 {
  color:#625d5d;
  margin:0 0 20px;
  line-height:1.1;
}

a {
  color:#39c;
  text-decoration: none;
}

a:hover {
  color:#069;
}

p, ul {
  margin:0 0 20px;
}

section {
  padding-bottom:25px;
}

footer {
  width:50%;
  float:left;
  bottom: 0;
  position:fixed;
}

/* Extras */

code {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

@media print, screen and (max-width: 960px) {

  body {
    width:auto;
    margin:0;
    text-align: center;
  }

  #profile_photo {
    float:none;
    position:none;
    max-width: 25%;
    height: auto;
  }

  .body_text {
    width:100%;
    position:relative;
    padding-left: 1%;
  }

  ul, li {
    text-align: left;
  }

  footer {
    width:100%;
    float:none;
    position:relative;
    -webkit-font-smoothing:subpixel-antialiased;
  }
}

@media print, screen and (max-width: 480px) {
  header {
    width: 100%;
    font-size: 25px;
    text-align: left;
    position: relative;
  }
  
  header #tabs { 
    font-size: 25px;
    position: absolute;
    padding-right: 1%;
    padding-bottom: 0.5%;
    bottom: 0;
    right: 0;
  }
}


